<div class="container">
  <div class="row space-top">
    <div class="col-md-12">
      <h1>{{username}} Profile Page</h1>
      <p>Listing your products.</p>
    </div>
  </div>
  <div class="row space-top">
    <div *ngFor="let product of productModel$ | async" class="col-md-4">
      <div class="card text-white bg-primary">
        <div class="card-body">
          <blockquote class="card-blockquote">
            <img src="{{product.image}}" />
            <p>Name: {{product.name}}</p>
            <p>Description: {{product.description}}</p>
            <p>Price: {{product.price}} lv.</p>
            <div class="pull-right">
              <a routerLink="/product/details/{{product.id}}" *ngIf="authService.isAuthenticated()" class="btn btn-info mr-sm-2">Details</a>
              <a routerLink="/product/deleteProduct/{{product.id}}" *ngIf="authService.isAuthenticated()" class="btn btn-danger">Delete</a>
            </div>
          </blockquote>
        </div>
      </div>
    </div>
  </div>