<div class="jumbotron">
  <div class="container">
    <h1>Find a movie</h1>
    <p>Search for a movie using the form below:</p>
    <form #form="ngForm" (submit)="search(form.value)">
      <input type="text" class="form-control" name="search" ngModel>
      <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Search</button>
    </form>
  </div>
</div>

<div *ngIf="isSearch" class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Searching Movies</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div *ngFor="let movie of searchingMovies;let i=index" class="col-md-2">
        <app-movie *ngIf="i < 6" [movie]="movie"></app-movie>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Popular Movies</h3>
  </div>
  <div class="panel-body">
    <div *ngIf="popular" class="row">
      <div *ngFor="let movie of popular;let i=index" class="col-md-2">
        <app-movie *ngIf="i < 6" [movie]="movie"></app-movie>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">In Theaters</h3>
  </div>
  <div class="panel-body">
    <div *ngIf="theaters" class="row">
      <div *ngFor="let movie of theaters;let i=index" class="col-md-2">
        <app-movie *ngIf="i < 6" [movie]="movie"></app-movie>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Kids</h3>
  </div>
  <div class="panel-body">
    <div *ngIf="popularKids" class="row">
      <div *ngFor="let movie of popularKids;let i=index" class="col-md-2">
        <app-movie *ngIf="i < 6" [movie]="movie"></app-movie>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Best dramas</h3>
  </div>
  <div class="panel-body">
    <div *ngIf="bestDramas" class="row">
      <div *ngFor="let movie of bestDramas;let i=index" class="col-md-2">
        <app-movie *ngIf="i < 6" [movie]="movie"></app-movie>
      </div>
    </div>
  </div>
</div>