<div class="container">
  <div class="row space-top">
    <div class="col-md-12">
      <h1>Delete Product</h1>
    </div>
  </div>
  <div *ngIf="deleteModel$ | async as product" class="row space-top">
    <div class="col-md-4">
      <div class="card text-white bg-primary">
        <div class="card-body">
          <blockquote class="card-blockquote">
            <img src="{{product.image}}" />
          </blockquote>
          <p>Name: {{product.name}}</p>
          <p>Description: {{product.description}}</p>
          <p>Price: {{product.price}} lv.</p>
          <button (click)="deleteProduct(product.id)" class="btn btn-danger" *ngIf="authService.isAdmin()">Delete</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h4>Reviews</h4>
      <div class="card-body">
        <app-product-reviews [productId]="product.id"></app-product-reviews>
      </div>
    </div>
  </div>
</div>