<div class="container">
  <div class="row space-top">
    <div class="col-md-12">
      <h1>Product Details</h1>
    </div>
  </div>
  <div *ngIf="detailsModel$ | async as product" class="row space-top">
    <div class="col-md-4">
      <div class="card text-white bg-primary">
        <div class="card-body">
          <blockquote class="card-blockquote">
            <img src="{{product.image}}" />
          </blockquote>
          <p>Name: {{product.name}}</p>
          <p>Description: {{product.description}}</p>
          <p>Price: {{product.price}} lv.</p>
          <button (click)="like(product.id)" class="btn btn-outline-info mr-sm-2" *ngIf="authService.isAuthenticated()">{{product.likes.length}}
            Like
          </button>
          <button (click)="buyProduct(product)" class="btn btn-outline-info" *ngIf="authService.isAuthenticated()">Buy</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h4>Add review</h4>
      <form #reviewForm="ngForm" (ngSubmit)="addReview()">
        <div class="form-group">
          <label class="form-control-label" for="new-rating">Rating</label>
          <input class="form-control" id="new-rating" type='number' name='rating' [min]="1" [max]="5" [(ngModel)]="reviewModel.rating"
            #rating="ngModel">

          <div [hidden]="rating.valid" class="alert alert-dark">
            Rating must be between 1 and 5
          </div>
        </div>
        <div class="form-group">
          <label class="form-control-label" for="new-comment">Your comment</label>
          <textarea class="form-control" id="new-comment" name='comment' rows='10' cols='30' [(ngModel)]="reviewModel.comment"></textarea>
        </div>
        <input type="submit" class="btn btn-primary" value="Add" [disabled]="reviewForm.form.invalid">
      </form>
    </div>
    <div *ngIf="reviewModel" class="col-md-4">
      <h4>Reviews</h4>
      <div class="card-body">
        <app-product-reviews [productId]=""></app-product-reviews>
      </div>
    </div>
  </div>
</div>