<div class="container">
  <div class="row space-top">
    <div class="col-md-12">
      <h1>Products</h1>
    </div>
  </div>
  <div class="row space-top">
    <div *ngFor="let product of categoryModel$ | async | paginate: {
        id: 'allProducts',
        itemsPerPage: pageSize,
        currentPage: currentPage
      }" class="col-md-4">
      <div class="card text-white bg-primary">
        <div class="card-body">
          <blockquote class="card-blockquote">
            <img src="{{product.image}}" />
            <p>{{product.description}}</p>
            <div class="pull-right">
              <a routerLink="/product/details/{{product.id}}" class="btn btn-info">Details</a>
            </div>
            <div class="pull-right">
              <a routerLink="/product/edit/{{product.id}}" *ngIf="authService.isAdmin()" class="btn btn-success mr-sm-2">Edit</a>
              <a (click)="deleteProduct(product.id)" *ngIf="authService.isAdmin()" class="btn btn-danger">Delete</a>
            </div>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
  <pagination-controls id="allProducts" (pageChange)="changePage($event)" maxSize="9" directionLinks="true" autoHide="true"
    previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
  </pagination-controls>
</div>